/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    direction: rtl;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: #333;
  line-height: 1.6;
    background: linear-gradient(to bottom, #fdf6e3, #d1eaf5);

  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
